.user, .home {
  height: 100%;
  color: #8a8a8a;

  .container {
    width: 1200px;
    height: 100%;
    margin: auto;
    
    .headerbox {
      width: 330px;
      float: left;
    }

    .box {
      width: 100%;
      margin-top: 20px;
      padding: 20px;
      background-color: #111;
      border-radius: 10px;
    }

    .flexbox {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .content {
      float: right;
      width: 800px;
      height: 100%;
      padding-top: 20px
    }
  }

}
  
  